<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<h2>Auth - Email/Password</h2>
<em> {{ (user | async) | json }} </em>
<input type="text" #email placeholder="Email" />
<input type="password" #password placeholder="Password" />
<br />
<button (click)="createUser(email.value, password.value)">Create User</button>
<button (click)="signInUser(email.value, password.value)">Sign in</button>
<pre>{{ errorUser | json }}</pre>

<h2>Auth - Google</h2>
<em> {{ (user | async)?.displayName }} </em>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>

<h2>Realtime DB - Item</h2>
<em>{{ ding | async | json }}</em>
<input type="text" #newname placeholder="Name" />
<input type="number" #newsize placeholder="Size" />
<br />
<button (click)="save(newname.value)">Set Name</button>
<button (click)="update(newsize.value)">Update Size</button>
<button (click)="delete()">Delete</button>

<h2>Realtime DB - List</h2>
<ul>
  <li *ngFor="let item of items | async">
    <input type="text" #updatetext [value]="item.text" />
    <button (click)="updateItem(item.$key, updatetext.value)">Update</button>
    <button (click)="deleteItem(item.$key)">Delete</button>
  </li>
</ul>
<input type="text" #newitem />
<button (click)="addItem(newitem.value)">Add</button>
<button (click)="deleteEverything()">Delete All</button>

<router-outlet></router-outlet>
